@font-face{
	font-family: 'myra';
	src:  url(fonts/Bonzai_Regular.ttf) format('truetype');
}
body{
	background: url(img/fon.jpg);
	background-size: cover;
	height: 100%;
}
header{
	font-family: myra;
	position: fixed;
	height: 100%;
	width: 270px;
	background-color: #000;
	z-index: 999;
	margin: -10px;
	border-right: 1px solid rgba(52, 182, 199, 0.5);
	padding-left: 10px;
}

#logo{
	position: absolute;
	width: 100px;
	height: 100px;
	top: -150px;
	left: 70px;
	opacity: 70%;
}
li{
	list-style: none;
}
nav li a{
	color: #fff;
	text-decoration: none;
	font-size: 30pt;
	width: 100%;
	height: auto;
	display: block;
	text-align: center;
}
.color span{
	margin-top: 10px;
	margin-left: 5px;
	display: block;
	text-align: center;
}
.color{
	width: 0px;
	height: 100%;

	background: linear-gradient(80deg, #8B0000, #FF0000, #DC143C) 

}
.color:hover{
	width: 100%;
	-webkit-transition: all 0.5s ease-in-out;
	-moz-transition: all 0.5s ease-in-out;
	-o-transition: all 0.5s ease-in-out;
	-ms-transition: all 0.5s ease-in-out;
	transition: all 0.5s ease-in-out;
}
.title{
	z-index: 3;
}
nav li a:hover{
	color: #fff;
	transform: scale(1.05);
}
nav{
	position: absolute;
	width: 100%;
	height: 50%;
	top: 25%;
}
nav li{
	margin-bottom: 35px;
	list-style: none;
	transition: 2s;
}
nav li:hover{
	background-color: #343635;
	box-shadow: 3px 3px 2px #000;
	transform: scale(1.05);
}
.content{
	position: absolute;
	margin-left: 275px;
	top: 2.5%;
	width: calc(100vw - 280px);
	height: auto;
	background-color: rgba(0, 0, 0, 0.8);
	color: #fff;
	padding-bottom: 85px;
}
.content::-webkit-scrollbar {width:0px;}
.content h1{
	width: 100%;
	background-color: #343635;
	color: #fff;
	text-align: center;
	height: 50px;
	margin-left: -15px;
}
.h2{
	position: absolute;
	top: 0px;
	width: 100%;
	background-color: rgba(0, 0, 0, 0.9);
	/* border-bottom: 3px solid #34b6c7; */
	color: #fff;
	text-align: center;
	height: 60px;
	font-size: 25pt;
	z-index: 10;
}
.disc_text{
	font-size: 24pt;
	display: block;
}
.disc_text span{
	display: block;
}
.disc{
	position: relative;
	padding: 25px;
	background-color: #000;
	margin-top: 20px;
	width: calc(100vw - 320px);
	/* height: 60%; */
	/* left: 10%; */
}
span{
	display: block;
	text-align: center;
}
.img{
	position: absolute;
	width: 350px;
	height: 350px;
	left: 30px;
	top: 50px;
	border-radius: 35px;
}
.trendName{
	color: #fff;
	background-color: #000;
	width: 100%;
	padding: 10px;
	border-radius: 10px;
}
/* Собственно сам слайдер */
.slider{
    max-width: 90%;
    position: relative;
    margin: auto;
    height: 500px;
    overflow: hidden;
    border-radius: 20px;
	border: 3px solid #34b6c7;
}
/* Картинка мастабируется по отношению к родительскому элементу */
.slider .item .bg {
    object-fit: cover;
    width: 100%;
    height: 500px;
    border: none !important;
    box-shadow: none !important;
    transition: 2.5s;
    border-radius: 20px;
    overflow: hidden;
}
.slider .item .bg:hover{
	transform: scale(1.03);
}
/* Кнопки вперед и назад */
.slider .prev, .slider .next {
    cursor: pointer;
    position: absolute;
    top: 250px;
    width: auto;
    margin-top: -22px;
    padding: 16px;
    color: #34b6c7;
	background-color: rgba(0, 0, 0, 0.6);
    font-weight: bold;
    font-size: 18px;
    transition: 0.6s ease;
    border-radius: 0 3px 3px 0;
}
.slider .next {
    right: 0;
    border-radius: 3px 0 0 3px;
}
/* При наведении на кнопки добавляем фон кнопок */
.slider .next:hover {
    background-color: rgba(0, 0, 0, 0.8);
}
/* Заголовок слайда */
.slideText {
    position: absolute;
    color: #fff;
    font-size: 30pt;
    background-color: rgba(0, 0, 0, 0.6);
    padding: 35px;
    border-radius: 10px;
    left: 50%;
    top: 250px;
	width: 900px;
    transform: translate(-50%, -50%);
    text-shadow: 1px 1px 1px #000, 0 0 1em #000;
    overflow: auto;
    max-height: 290px;
}
.slideText{
	opacity: 1;
  	visibility: visible;
  	transition-delay: 0s;
}
/* Кружочки */
.slider-dots {
    text-align: center;
}
.slider-dots_item{
    cursor: pointer;
    height: 12px;
    width: 12px;
    margin: 0 2px;
    background-color: #34b6c7;
    border-radius: 50%;
    display: inline-block;
    transition: background-color 0.6s ease;
}
.active,
.slider-dots_item:hover {
    background-color: #fff;
}
/* Анимация слайдов */
.slider .item {
    -webkit-animation-name: fade;
    -webkit-animation-duration: 2s;
    animation-name: fade;
    animation-duration: 2s;
}
.map{
	width: calc(100vw - 275px);
	margin-left: -13px;
	margin-top: 50px;
	overflow: auto;
}
.map img{
	height: 800px;
	width: 100%;
	min-width: 1000px;
}
@-webkit-keyframes fade {
    from {
        opacity: .4
    }
    to {
        opacity: 1
    }
}
@keyframes fade {
    from {
        opacity: .4
    }
    to {
        opacity: 1
    }
}
.slideText::-webkit-scrollbar {
  width: 0;
}
body::-webkit-scrollbar {
	width: 0;
}
.menu{
	background-color: #fff;
	position: relative;
	left: 150px;
}
.product-wrapper{
	transition: 2s;
	margin: 10px 40px 10px 10px;
	float: left;
}
.card{
	width: 400px;
	height: 600px;
}
.product-photo {
    width: 400px;
    height: 600px;
    border-radius: 20px;
    overflow: hidden;
	transition: 2s;
	border: 1px solid #34b6c7;
}
.product-photo:hover{
	transform: scale(1.05);
}
.product-photo a{
	position: relative;
	text-decoration: none;
	color: #fff;
	top: 450px;
	height: 100%;
	width: 80%;
}
.product-photo a h2{
	padding: 20px;
	width: 100%;
	background-color: rgba(0, 0, 0, 0.6);
}
.product-photo img{
	margin-top: -120px;
	height: 620px;
}
input{
	margin: 10px;
	padding: 10px;
	border-radius: 10px;
	background-color: #343635;
	color: #fff;
	border: 1px solid #34b6c7;
}
select{
	margin: 10px;
	padding: 10px;
	border-radius: 10px;
	background-color: #343635;
	color: #fff;
	border: 1px solid #34b6c7;
}
.contacts{
	font-size: 36px;
}
/*Страничка товара*/
.order{
	position: relative;
	left: 920px;
	top: -600px;
	width: calc(100vw - 1300px);
	min-width: 350px;
	height: 560px;
	padding: 20px;
	border: 1px solid #34b6c7;
	background-color: rgba(0, 0, 0, 0.6);
	border-radius: 10px;
}
.order-description{
	font-size: 24pt;
	max-height: 300px;
	overflow: auto;
	text-align: center;
}
.compound{
	font-size: 18pt;
	margin-top: 40px;
}
.order-description::-webkit-scrollbar{
	width: 0;
}
.roll img{
	height: 600px;
	width: 900px;
}
.buy button{
	position: absolute;
	bottom: 10px;
	left: 20%;
	color: #fff;
	padding: 30px;
	font-size: 18pt;
	width: 60%;
	min-width: 300px;
	border-radius: 10px;
	background-color: rgba(52, 182, 199, 0.9);
	border: 1px solid #fff;
	transition: 1.5s;
	cursor: pointer;
}
.buy button:hover{
	transform: scale(1.01);
}
.cost{
	position: absolute;
	font-size: 18pt;
	text-align: center;
	width: 60%;
	bottom: 120px;
	left: 20%;
}
.footer{
	position: absolute;
	bottom: -30px;
	height: 40px;
	left: 280px;
	width: calc(100vw - 280px);
	text-align: center;
	color: white;
	padding-top: 10px;
	font-size: 15pt;
	background-color: #000;
}
.box{
	width: 300px;
	padding: 40px;
	position: absolute;
	top: 50%;
	left: 50%;
	transform: translate(-50%, -50%);
	background: #191919;
	text-align: center;
}
.box h1{
	color: #fff;
	text-transform: uppercase;
	font-weight: 500;
}
.box input[type = "text"],.box input[type = "password"]{
	border: 0;
	background: none;
	display: block;
	margin: 20px auto;
	text-align: center;
	border: 2px solid #34b6c7;
	border-radius: 24px;
	padding: 14px 10px;
	width: 200px;
	outline: none;
	color: #fff;
	transition: 0.25s;
}
.box input[type = "text"]:focus,.box input[type = "password"]:focus {
	width: 280px;
	border-color: #2ecc71;
}
.box input[type = "submit"]{
		border: 0;
	background: none;
	display: block;
	margin: 20px auto;
	text-align: center;
	border: 2px solid #34b6c7;
	border-radius: 24px;
	padding: 14px 40px;
	outline: none;
	color: #fff;
	transition: 0.35s;
	cursor: pointer;
}
.box input[type = "submit"]:hover{
	background: #2ecc71;
	transform: scale(1.05);
}